
/* СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ САЙТА - "SITE.HTML" */

@font-face{ /* Подключение своего шрифта */
	font-family: 'RursusCompactMono'; /* Указание названия шрифта */
	src: url(fonts/RursusCompactMono.ttf); /* Указание пути к шрифту */
}
.html-site, .body-site{ /* Настройка стиля тегов "html" и "body" */
	margin: 0%; /* Удаление отступов */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.body-site{ /* Настройка стиля тега "body" */
	background: linear-gradient(315deg, #3f2237,#835f7c,#d6c1a2,#dce6cd) no-repeat; /* Указание цвета бэкграунда: градиент(смещение, цвет 1 , цвет 2, цвет 3, цвет 4) без повтора */
}
.table-site, .tr-site, .form-site{ /* Настройка стиля тегов "table", "tr" и "form" */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.td-site{ /* Настройка стиля тега "td" */
	width: 50%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.button-site{ /* Настройка стиля тега "button" */
	width: 25vw; /* Указание ширины от размера страницы*/
	height: 25vh; /* Указание высоты от размера страницы */
	border-radius: 30%; /* Указание радиуса закругления углов бордюра */
	border-color: transparent; /* Указание цвета бордюра */
	font-family: RursusCompactMono; /* Указание шрифта */
	-webkit-text-stroke: 1px black; /* Указание ширины и цвета оконтовки */
	-webkit-text-fill-color: white; /* Указание цвета текста */
	font-size: 5vmin; /* Указание размера шрифта */
	position: relative; /* Указание способа позиционирования элемента */
	transform: translate(-50%, -50%); /* Смещение точки отступа в центр элемента */
	-webkit-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень              */
	-moz-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                 */
	box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                      */
}
.button1-site{ /* Настройка стиля кнопки "button" (первая кнопка) */
	left: 60%; /* Смещение кнопки в лево на 60% */
	background-color: #44944A; /* Указание цвета кнопки */
}
.button1-site:hover {background: #57b35f; } /* Указание цвета кнопки при наведении курсора */
.button1-site:active {background: #347039; } /* Указание цвета кнопки при нажатии */

.button2-site{ /* Настройка стиля кнопки "button" (вторая кнопка) */
	left: 40%; /* Смещение кнопки в лево на 40% */
	background: #4169e1; /* Указание цвета кнопки */
}
.button2-site:hover {background: #6f8ee8; } /* Указание цвета кнопки при наведении курсора */
.button2-site:active {background: #214ccf; } /* Указание цвета кнопки при нажатии */

/* СТИЛИ ДЛЯ СТРАНИЦЫ "ИЩУ УСЛУГУ" - "HUNT.HTML" */

.html-hunt{ /* Настройка стиля тега html */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.body-hunt{ /* Настройка стиля тега body */
	width: 80%; /* Указание ширины */
	height: 80%; /* Указание высоты */
	margin: 3% 5% 5%; /* Указание отступов: сверху, по бокам, снизу */
	background: linear-gradient(315deg, #d6c1a2,#dce6cd) no-repeat; /* Указание цвета бэкграунда: (смещение, цвет 1 , цвет 2, цвет 3, цвет 4) без повтора */
	font-family: RursusCompactMono; /* Указание шрифта */
}
.div-hunt-return{ /* Настройка стиля тега div стрелки return */
	width: 6vmin; /* Указание ширины */
	height: 4.32vmin; /* Указание высоты */
}
.button-hunt-arrow-return{ /* Настройка стиля тега button стрелки return */
	width: 6vmin; /* Указание ширины */
	height: 4.32vmin; /* Указание высоты */
	position: relative; /* Указание способа позиционирования: относительно исходного элемента */
	background-color: transparent; /* Указание цвета бэкграунда: прозрачный */
	border-color: transparent; /* Указание цвета бордюра: прозрачный */
}
.img-hunt-arrow-return{ /* Настройка стиля тега img стрелки return */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.table-hunt{ /* Настройка стиля тега table */
	margin-top: 2%; /* Указание отступа сверху */
}
.tr-hunt-main{ /* Настройка стиля тега tr строки оглавления */
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */
	font-size: 3vmin; /* Указание размера шрифта */
}
.th-hunt-main-profile{ /* Настройка стиля тега th профиля */
	width: 10%; /* Указание ширины */
	text-align: center; /* Указание позиционирования текста */
}
.th-hunt-main-service{ /* Настройка стиля тега th услуги */
	width: 83%; /* Указание ширины */
	text-align: left; /* Указание позиционирования текста */
	padding-left: 6%; /* Указание поля отступа слева */
}
.th-hunt-main-price{ /* Настройка стиля тега th цены */
	width: 7%; /* Указание ширины */
	text-align: center; /* Указание позиционирования текста */
}
.tr-hunt-resume{ /* Настройка стиля тега tr резюме */
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */
	font-size: 2.2vmin; /* Указание размера шрифта */
}
.td-hunt-image{ /* Настройка стиля тега td аватарки */
	width: 9%; /* Указание ширины */
	height: 9%; /* Указание высоты */
}
.button-hunt-image{ /* Настройка стиля тега button аватарки */
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */ 
	position: relative; /* Указание способа позиционирования: относительно исходного элемента */
	border-radius: 50%; /* Указание радиуса закругления углов бордюра */
	border-color: transparent; /* Указание цвета бордюра: прозрачный */
	background-color: transparent; /* Указание цвета бэкграунда: прозрачный */
}
.img-hunt{ /* Настройка стиля тега img кнопки аватарки */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
	border-radius: 50%; /* Указание радиуса закругления бордюра */
	-webkit-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень              */
	-moz-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                 */
	box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                      */
}
.td-hunt-service{ /* Настройка стиля тега td услуги */
	text-align: left; /* Указание позиционирования текста */
	padding-left: 6%; /* Указание поля отступа слева */
}
.td-hunt-price{ /* Настройка стиля тега td цены */
	text-align: center; /* Указание позиционирования текста */
}
.div-hunt-switch{ /* Настройка стиля тега div переключения профилей */
	width: 5vmin; /* Указание ширины */
	height: 4.03vmin; /* Указание высоты */
	position: relative; /* Указание способа позиционирования: относительно исходного элемента */
	margin-top: 2%; /* Указание отступа сверху */
}
.tr-hunt-arrows-switch{ /* Настройка стиля тега tr стрелок переключения */
	width: 5vmin; /* Указание ширины */
	height: 4.03vmin; /* Указание высоты */
}
.td-hunt-arrows-switch{ /* Настройка стиля тега td стрелок переключения */
	width: 5vmin; /* Указание ширины */
	height: 4.03vmin; /* Указание высоты */
}
.button-hunt-arrows-switch{ /* Настройка стиля тега button стрелок переключения */
	width: 5vmin; /* Указание ширины */
	height: 4.03vmin; /* Указание высоты */
	position: relative; /* Указание способа позиционирования: относительно исходного элемента */
	background-color: transparent; /* Указание цвета бэкграунда: прозрачный */
	border-color: transparent; /* Указание цвета бордюра: прозрачный */
}
.img-hunt-arrows-switch{ /* Настройка стиля тега img стрелок переключения */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.td-hunt-page-number{ /* Настройка стиля тега td номера страницы */
	width: 5vmin; /* Указание ширины */
	height: 4.03vmin; /* Указание высоты */
}

/* СТИЛИ ДЛЯ СТРАНИЦЫ "ПРЕДОСТАВЛЯЮ УСЛУГУ" - GIVE.HTML */

.html-give{ /* Настройка стиля тега html */
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
}
.body-give{ /* Настройка стиля тега body */
	width: 80%; /* Указание ширины */
	height: 80%; /* Указание высоты */
	margin: 3% 5% 5%; /* Указание отступов: сверху, по краям, снизу */
	background: linear-gradient(315deg, #835f7c,#d6c1a2) no-repeat; /* Указание цвета бэкграунда: (смещение, цвет 1 , цвет 2, цвет 3, цвет 4) без повтора */
	font-family: RursusCompactMono; /* Указание шрифта */
}
.table-give{ /* Настройка стиля тега table */
	margin-top: 2%; /* Указание отступа сверху */
}
.tr-give-main{ /* Настройка стиля тега tr строки оглавления*/
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */
	font-size: 3vmin; /* Указание размера шрифта*/
}
.th-give-main-profile{ /* Настройка стиля тега th профиля*/
	width: 10%; /* Указание ширины */
	text-align: center; /* Указание позиционирования текста */
}
.th-give-main-service{ /* Настройка стиля тега th услуги */
	width: 83%; /* Указание ширины */
	text-align: left; /* Указание позиционирования текста */
	padding-left: 6%; /* Указание поля отступа слева */
}
.th-give-main-price{ /* Настройка стиля тега th цены */
	width: 7%; /* Указание ширины */
	text-align: center; /* Указание позиционирования текста */
}
.tr-give-resume{ /* Настройка стиля тега tr резюме */
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */
	font-size: 2.2vmin; /* Указание */
}
.td-give-image{ /* Настройка стиля тега td аватарки */
	width: 9%; /* Указание ширины */
	height: 9%; /* Указание высоты */
}
.button-give-image{ /* Настройка стиля тега button аватарки */
	width: 100%; /* Указание ширины */
	height: auto; /* Указание высоты */
	position: relative; /* Указание способа позиционирования: относительно исходного элемента */
	border-radius: 50%; /* Указание радиуса закругления углов бордюра */
	border-color: transparent; /* Указание цвета бордюра: прозрачный */
	background-color: transparent; /* Указание цвета бэкграунда: прозрачный */
}
.img-give{ /* Настройка стиля тега img кнопки аватарки*/
	width: 100%; /* Указание ширины */
	height: 100%; /* Указание высоты */
	border-radius: 50%; /* Указание радиуса закругления углов бордюра */
	-webkit-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень              */
	-moz-box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                 */
	box-shadow: 5px 5px 5px -1px rgba(34, 60, 80, 0.4); /* Как-то сделали тень                      */
}
.td-give-service{ /* Настройка стиля тега td услуги*/
	text-align: left; /* Указание позиционирования текста */
	padding-left: 6%; /* Указание поля отступа слева */
}
.td-give-price{ /* Настройка стиля тега td цены*/
	text-align: center; /* Указание позиционирования текста */
}